<!DOCTYPE html>
<html>

<head>
    <title>Факторизация целых чисел</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</head>

<body>
    <div class="main">
        <p><b>Введите целое число:</b>
            <br>
            <input type="number" name="number">
            <input type="submit" value="Разложить" name="submit">
            <br>
            <b>Результат:</b>
            <br>
            <textarea rows="10" cols="45" name="text" readonly></textarea>
        </p>
    </div>
</body>

</html>